body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:20px;
  top:10px;
  width:375px;
  height:667px;
}
#u37 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:164px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:21px;
  top:11px;
  width:373px;
  height:164px;
}
#u39 {
  position:absolute;
  left:2px;
  top:74px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:171px;
  top:20px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:60px;
  top:80px;
  width:71px;
  height:20px;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:60px;
  top:125px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:21px;
  top:175px;
  width:373px;
  height:139px;
}
#u47 {
  position:absolute;
  left:2px;
  top:62px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u48 {
  position:absolute;
  left:65px;
  top:185px;
  width:89px;
  height:89px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u50 {
  position:absolute;
  left:258px;
  top:185px;
  width:89px;
  height:89px;
}
#u51 {
  position:absolute;
  left:2px;
  top:37px;
  width:85px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:60px;
  top:284px;
  width:99px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:253px;
  top:284px;
  width:99px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:21px;
  top:448px;
  width:373px;
  height:52px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:60px;
  top:465px;
  width:57px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u61 {
  position:absolute;
  left:27px;
  top:465px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u63 {
  position:absolute;
  left:21px;
  top:519px;
  width:373px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u65 {
  position:absolute;
  left:174px;
  top:595px;
  width:67px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:21px;
  top:624px;
  width:373px;
  height:52px;
}
#u68 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:42px;
  top:644px;
  width:57px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:178px;
  top:644px;
  width:57px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u73 {
  position:absolute;
  left:303px;
  top:644px;
  width:57px;
  height:20px;
  color:#0099FF;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:21px;
  top:386px;
  width:373px;
  height:52px;
}
#u77 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79 {
  position:absolute;
  left:60px;
  top:402px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u81 {
  position:absolute;
  left:122px;
  top:406px;
  width:12px;
  height:12px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u83 {
  position:absolute;
  left:27px;
  top:402px;
  width:20px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u85 {
  position:absolute;
  left:358px;
  top:638px;
  width:12px;
  height:12px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:21px;
  top:324px;
  width:373px;
  height:52px;
}
#u89 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:60px;
  top:341px;
  width:141px;
  height:20px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u92 {
  position:absolute;
  left:27px;
  top:341px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u94 {
  position:absolute;
  left:33px;
  top:80px;
  width:20px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u96 {
  position:absolute;
  left:33px;
  top:123px;
  width:20px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u98 {
  position:absolute;
  left:334px;
  top:342px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#949494;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u98_ann {
  position:absolute;
  left:364px;
  top:338px;
  width:1px;
  height:1px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:66px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:404px;
  top:355px;
  width:210px;
  height:66px;
  opacity:0.5;
}
#u102 {
  position:absolute;
  left:2px;
  top:25px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_ann {
  position:absolute;
  left:607px;
  top:351px;
  width:1px;
  height:1px;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:424px;
  top:377px;
  width:169px;
  height:20px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u105 {
  position:absolute;
  left:211px;
  top:345px;
  width:12px;
  height:12px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_ann {
  position:absolute;
  left:216px;
  top:341px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF33CC;
  line-height:20px;
}
#u108 {
  position:absolute;
  left:415px;
  top:60px;
  width:300px;
  height:120px;
  font-size:14px;
  color:#FF33CC;
  line-height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:126px;
}
#u110 {
  position:absolute;
  left:404px;
  top:59px;
  width:5px;
  height:121px;
}
#u111 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF33CC;
  line-height:20px;
}
#u113 {
  position:absolute;
  left:415px;
  top:325px;
  width:300px;
  height:20px;
  font-size:14px;
  color:#FF33CC;
  line-height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u115 {
  position:absolute;
  left:404px;
  top:324px;
  width:5px;
  height:21px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:130px;
  top:80px;
  width:163px;
  height:20px;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:117px;
  top:127px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
