body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u285 {
  position:absolute;
  left:20px;
  top:10px;
  width:375px;
  height:667px;
}
#u286 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u287 {
  position:absolute;
  left:167px;
  top:112px;
  width:82px;
  height:82px;
}
#u288 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
  text-align:left;
}
#u289 {
  position:absolute;
  left:46px;
  top:229px;
  width:326px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
  text-align:left;
}
#u290 {
  position:absolute;
  left:20px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
  text-align:left;
}
#u291 {
  position:absolute;
  left:46px;
  top:282px;
  width:326px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
  text-align:left;
}
#u292 {
  position:absolute;
  left:20px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u293 {
  position:absolute;
  left:46px;
  top:366px;
  width:326px;
  height:49px;
  font-size:20px;
}
#u294 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0099FF;
}
#u295 {
  position:absolute;
  left:292px;
  top:300px;
  width:66px;
  height:18px;
  font-size:13px;
  color:#0099FF;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u297 {
  position:absolute;
  left:187px;
  top:450px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#0099FF;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF33CC;
  line-height:20px;
}
#u300 {
  position:absolute;
  left:416px;
  top:114px;
  width:300px;
  height:20px;
  font-size:14px;
  color:#FF33CC;
  line-height:20px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u302 {
  position:absolute;
  left:405px;
  top:113px;
  width:5px;
  height:21px;
}
#u303 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
