body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  position:absolute;
  left:20px;
  top:10px;
  width:375px;
  height:667px;
}
#u305 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:350px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u306 {
  position:absolute;
  left:21px;
  top:10px;
  width:373px;
  height:350px;
  font-size:20px;
}
#u307 {
  position:absolute;
  left:2px;
  top:161px;
  width:369px;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u308 {
  position:absolute;
  left:21px;
  top:360px;
  width:373px;
  height:316px;
  font-size:20px;
}
#u309 {
  position:absolute;
  left:2px;
  top:144px;
  width:369px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u310 {
  position:absolute;
  left:37px;
  top:36px;
  width:10px;
  height:18px;
}
#u311 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u312 {
  position:absolute;
  left:80px;
  top:200px;
  width:255px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
